<menu id="menu">
	<div class="logoWrap">
		<a class="logo toIndex" href="">123123123</a>
	</div>
	<div class="innerWrap">
	 
		<dl>
			<!-- <dt>新闻</dt>
			<dd>
				<ul>
					<li class="active" ><a class="set" href=""><span></span>栏目管理</a></li>
					<li class=""><a class="cert" href="" title="证书"><span></span>文章管理</a></li>
				</ul>
			</dd> -->
			<dt>产品管理</dt>
			<dd>
				<ul>
					<li><a class="nativeSdk" href="http://www.apicloud.com/nativeSdk"><span></span>产品列表</a></li> 
					<li><a class="mcmapi" title="API调试" href="http://www.apicloud.com/mcmapi"><span></span>分类列表</a></li>
				</ul>
			</dd>
			<dt>订单管理</dt>
			<dd>
				<ul>
					<li class=""><a class="mcmbase" title="订单列表" href="http://www.apicloud.com/mcmbase"><span></span>订单列表</a></li>
					<li class=""><a class="mcmdata" title="交易流水" href="http://www.apicloud.com/mcmdata"><span></span>交易流水</a></li>
					<li class=""><a class="mcmdatabase" title="最新订单" href="http://www.apicloud.com/mcmdatabase"><span></span>最新订单</a></li>
				</ul>
			</dd>
		
			<dt>客户管理</dt>
			<dd>
				<ul>
					<li><a class="version" href="http://www.apicloud.com/version" title="客户列表"><span></span>客户列表</a></li>
					<li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="充值和提现"><span></span>充值和提现</a></li>
					<li class=""><a class="push" href="http://www.apicloud.com/push" title="代理商申请"><span></span>代理商申请</a></li>
				</ul>
			</dd>
			
			<dt>会员管理</dt>
			<dd>
				<ul>
					<li><a class="version" href="http://www.apicloud.com/version" title="添加会员"><span></span>添加会员</a></li>
					<li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="会员列表"><span></span>会员列表</a></li>
				</ul>
			</dd>
			
			<dt>体验券</dt>
			<dd>
				<ul>
					<li><a class="version" href="http://www.apicloud.com/version" title="添加会员"><span></span>添加体验券</a></li>
					<li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="会员列表"><span></span>体验券列表</a></li><li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="发放体验券"><span></span>发放体验券</a></li>
					
				</ul>
			</dd>
			<dt>系统管理员</dt>
			<dd>
				<ul>
					<li><a class="version" href="http://www.apicloud.com/version" title="添加管理员"><span></span>新闻</a></li>
					<li><a class="version" href="http://www.apicloud.com/version" title="添加管理员"><span></span>添加管理员</a></li>
					<li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="管理员列表"><span></span>管理员列表</a></li>
					
				</ul>
			</dd>
			<dt>微信管理</dt>
			<dd>
				<ul>
					<li><a class="version" href="http://www.apicloud.com/version" title="微信基本信息"><span></span>微信基本信息</a></li>
					<li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="微信用户列表"><span></span>微信用户列表</a></li>
					 <li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="更新微信用户"><span></span>更新微信用户</a></li>
				</ul>
			</dd>
			<!-- <dt>系统设置</dt>
			<dd>
				<ul>
					<li><a class="version" href="http://www.apicloud.com/version" title="基本设置"><span></span>基本设置</a></li>
					<li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="数据备份"><span></span>数据备份</a></li>
					 <li class=""><a class="restore" href="http://www.apicloud.com/restore"  title="退出系统"><span></span>退出系统</a></li>
				</ul>
			</dd> -->
		
			
		</dl>
	</div>
</menu>