<script>
	var interval = '{$_GET["interval"]}';

	var chart_type = '{$_GET["type"]}';

	var rows = '45';
	var code = '{$_GET["code"]}';
	//var code = 'conc';
	var width='100%';
	var height='auto';
	var host = 'http://'+document.domain+'/';
	var socket_url = host+'index.php/Home/Jiekou/ajaxKchart';
	var url_h      = host+'index.php/Home/Jiekou/ajaxKchart';
	var url_d 	   = host+'index.php/Home/Jiekou/ajaxKchart';
	var hour = "<?php echo date('H'); ?>";
	var day  = "<?php echo date('w'); ?>";
	var chart_model = 1;
	var tpl = "{$tpl}";
	if(tpl == 2){
		var beijing = '#202020';
		var xian    = "#fff";
	}else{
		var beijing = '#fff';
		var xian    = "#2B2B2B";
	}

</script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/jsp/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/jsp/highstock.src.js"></script>
<script src="__PUBLIC__/jsp/highstock.theme.js"></script>
<script src="__PUBLIC__/jsp/socket.io.js"></script>
<script type="text/javascript" src="__PUBLIC__/jsp/init.js"></script>
<body style=" margin:0px;">

<div id="container" ></div>

</body>
</html>