<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>支付登录</title>
<link rel="stylesheet" href="__CSS__/paylogin.css"/>
</head>

<body>
<div class="paylogin_box">
	<div class="paylogin_top">
		<img src="__PUBLIC__/images/login.png"/>
		<p>微易微盘支付</p>
	</div>
	<form method="post" action="">
		<div class="paylogin_cen">
			<div class="paylogin_cen_1"><input type="text" name="utel" placeholder="手机号码"/></div>
			<div class="paylogin_cen_1"><input type="password" name="upwd" placeholder="登录密码"/></div>
			<div class="paylogin_cen_2"><input type="radio" name="" /> 记住账号</div>
		</div>
		<input value="登录" class="paylogin" type="submit">
	</form>
</div>
</body>
</html>