@charset "utf-8";
*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="password"]{-webkit-appearance:none;outline:none}
body,th,td,button,input,select,textarea{font-family:"ו","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
@media ( max-width : 767px) {
	html{ overflow-y:auto}
	body,th,td,button,input,select,textarea{ font-size:14px}
}
body{line-height:1.6; max-width:450px; margin:0 auto;}
h1,h2,h3,h4,h5,h6{font-size:100%}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:underline;outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}


.paylogin_box {
	background:#f5f5f5;
	height:auto;
	font-weight:ו;
	color:#4a4a4a;
}
.paylogin_top {
	height:150px;
	text-align:center;
	width:100%;
	font-size:16px;
}
.paylogin_top img {
	width:75px;
	height:65px;
	margin:20px 0 5px;
}
.paylogin_cen {
	width:100%;
	height:155px;
	background:#fff;
	padding-top:10px;
	border-bottom:1px solid #d8d8d8;
}
.paylogin_cen .paylogin_cen_1{
	width:96%;
	margin:2%;
	border:1px solid #d8d8d8;
	border-radius:3px;
	text-indent:10px;
	height:40px;
	line-height:40px;
}
.paylogin_cen .paylogin_cen_1 input {
	background:none;
	border:none;
	width:98%;
	height:98%;
}
.paylogin_cen .paylogin_cen_2{
	width:96%;
	margin:2%;
	height:40px;
	line-height:40px;
	color:#4a4a4a;
	font-weight:ו;
	font-size:15px;
}
.paylogin_cen .paylogin_cen_2 input {
	background:none;
	border:none;
}
.paylogin {
	height:40px;
	line-height:40px;
	background:#06bf04;
	border-radius:3px;
	color:#fff;
	text-align:center;
	font-size:16px;
	width:96%;
	margin:5% 2%;
}







