@charset "utf-8";
*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="password"]{-webkit-appearance:none;outline:none}
body,th,td,button,input,select,textarea{font-family:"ו","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
@media ( max-width : 767px) {
	html{ overflow-y:auto}
	body,th,td,button,input,select,textarea{ font-size:14px}
}
body{line-height:1.6; max-width:450px; margin:0 auto;}
h1,h2,h3,h4,h5,h6{font-size:100%}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:underline;outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}

.trainfo {
	width:96%;
	margin:2%;
}
.trainfo_top1 {
	border:1px solid #ddd;
	border-radius:3px;
}
.trainfo_top1 p {
	background:#f5f5f5;
	color:#333;
	text-indent:5px;
	height:30px;
	line-height:30px;
	font-family:????;
}
.trainfo_top2 {
	border:1px solid #111;
	border-radius:3px;
}
.trainfo_top2 p {
	background:#f5f5f5;
	color:#333;
	text-indent:5px;
	height:30px;
	line-height:30px;
	font-family:????;
}
.trainfo_top3 {
	border:1px solid #ddd;
	border-radius:3px;
}
.trainfo_top3 p {
	background:#f5f5f5;
	color:#333;
	text-indent:5px;
	height:30px;
	line-height:30px;
	font-family:????;
}
.trainfo_top4 {
	border:1px solid #ddd;
	border-radius:3px;
}
.trainfo_top4 p {
	background:#f5f5f5;
	color:#333;
	text-indent:5px;
	height:30px;
	line-height:30px;
	font-family:????;
}
.trainfo_cen {
	width:98%;
	margin:1%;
	border-bottom:1px solid #ddd;
	padding:8px 0;
}
.trainfo_cen dl {
	height:33px;
	line-height:33px;
	font-size:13px;
}
.trainfo_cen dl dt{
	width:45%;
	float:left;
	text-align:right;
}
.trainfo_cen dl dd {
	padding-left:31%;
}
.trainfo_cen .trainfo_cen_left {
	float:left;
	width:46%;
}
.trainfo_cen .trainfo_cen_right {
	display:inline-block;
	width:50%;
}
.trainfo_cen .trainfo_cen_left .trainfo_cen_1{
	width:50%;
}
.trainfo_cen .trainfo_cen_left .trainfo_cen_2{
	padding-left:51%;
}
/* .trainfo_cen .trainfo_cen_right .trainfo_cen_1{
	width:4rem;
}
.trainfo_cen .trainfo_cen_right .trainfo_cen_2{
	padding-left:4.5rem;
} */
.trainfo_cen .trainfo_cen_right dd span {
	padding:5px;
	background:#cf0000;
	color:#fff;
	border-radius:3px;
}
.trainfo_fo dl dt{
	width:45%;
}
.trainfo_fo dl dd{
	padding-left:46%;
}




