<include file="Public:header" />
    <body class="forIE">
        <div class="butterbar hide">
            <span class="bar"></span>
        </div>
        <main class="main">
             <include file="Public:menu" />
        <div style="max-width: 1348px;" class="mainWrap">
             <include file="Public:top" />
<div style="display: block;" class="wrapper">

<div class="panel" id="topheader">
    <header>
        <table>
            <tbody>
            <tr>
                <th style="width:40%;"><h4 style="font-size:20px;color:#8fb300">大盘实时数据</h4></th>
				<th style="width:60%;" class="col-md-12">
				
				<div class="col-md-12">
					
				</div>
				
				</th>
            </tr>
            </tbody>
        </table>
    </header>
</div>
<div class="panel">
    
    <div id="detailsTable" style="">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                   
                    <th>时间</th>
					<th>外盘价</th>
                    <th>状态</th>
					
                </tr>
            </thead>
           <tbody>
		   <volist name="typelist" id="gl">
			<tr>
			
			<td>{$gl.time|date='m-d H:m',###}</td> 
			<td>{$gl['price']}</td> 
			<td>{$gl['diff']}/{$gl['diffRate']}</td> 			
			
			</tr>
			</volist>
			</tbody>
        </table>
       
    </div>
    <span style="" class="moreUpAndDown">{$page}</span>
</div>
</div>
            
        </div>
        </main> 
</body></html>