<include file="Public:header" />

 <main class="main">
<include file="Public:menu" />
<div style="max-width: 1348px;" class="mainWrap">
<include file="Public:top" />
<block name="content">
	<!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/compiled/new-user.css" type="text/css" media="screen" />
       <style>
	   .span9 {background:#fff;}
	   </style>
    <div class="container-fluid" style="margin:20px 30px; ">
        <div id="pad-wrapper" class="new-user">
            <div class="panel" id="topheader">
				<header>
					<table>
						<tbody>
						<tr>
							 <th style="width:40%;"><h4 style="font-size:20px;color:#8fb300">交易明细</h4></th>
						</tr>
						</tbody>
					</table>
				</header>
			</div>
            <div class="row-fluid form-wrapper" id="order-print">
	            <input type="hidden" name="uid" value="{$userme['uid']}"/>
	            <!-- left column -->
	            <div class="span7 with-sidebar">
	                <div class="span9 field-box uname">
	                    <label>客户名:</label>
	                    <label style="text-align: left;"><a href="{:U('User/updateuser',array('uid'=>$userme['uid']))}" class="name">{$uinfo.username}</a></label>
	                    
	                    <label>账户余额:</label>
	                    <if condition='$acount.balance eq 0'>
	                    	<font color="#f00" size="4">￥0.00</font>
	                    <else/>
	                    	<font color="#f00" size="4">￥{$acount.balance}</font>
	                    </if>
	                </div>
	                <div class="span9 field-box">
	                    <label>订单编号:</label>
	                    {$oinfo['orderno']}
	                </div>
	                <div class="span9 field-box">
	                    <label>商品:</label>
	                    {$goods['ptitle']}
	                </div>
	                <div class="span9 field-box">
	                    <label>价格:</label>
	                    <font color="#f00" size="4">{$goods['uprice']}</font>元/手
	                </div>
	                <div class="span9 field-box">
	                    <label>订单状态:</label>
	                    <if condition='$oinfo.ostaus eq 1'>
                        	平仓
                    	<else/>
							建仓
						</if>
	                </div>
	                <div class="span9 field-box">
	                    <label>入仓价格:</label>
	                    <font color="#f00" size="3">{$oinfo.buyprice}</font>元
	                </div>
	                <div class="span9 field-box">
	                    <label>平仓价格:</label>
	                    <if condition='$oinfo.ostaus eq 1'>
							<font color="#f00" size="3">{$oinfo.sellprice}</font>元
	                	<else/>
							<span class="mai_{$goods.cid} sellprice"></span>
						</if>
	                </div>
	                <div class="span9 field-box">
	                    <label>手续费:</label>
	                    <font color="#f00" size="3">{$goods.feeprice}</font>元
	                </div>
	                <div class="span9 field-box">
	                    <label>入仓金额合计:</label>
	                    <font color="#f00" size="5">{$oinfo['onumber']*$goods['uprice']}</font>元
	                </div>
	                <div class="span9 field-box">
	                    <label>入仓时间:</label>
	                    {$oinfo.buytime|date='Y-m-d H:i:s',###}
	                </div>
	                <div class="span9 field-box">
	                    <label>平仓时间:</label>
	                    <if condition='$oinfo.selltime eq 0'>
	                    	建仓中
	                    <else/>
	                    {$oinfo.selltime|date='Y-m-d H:i:s',###}
	                    </if>
	                </div>
	                <div class="span9 field-box">
	                    <label>盈亏资金:</label>
	                    <if condition='$oinfo.ostaus eq 1'>
                        	<font color="#f00" size="5">{$oinfo.ploss}</font>元
	                	<else/>
							<span class="ploss"></span>
						</if>
	                </div>
	            </div>
			</div>
        </div>
		
    </div>
    <input type="hidden" value="{$goods['wave']}" name="wave" />
    <input type="hidden" value="{$oinfo['onumber']}" name="onumber" />
    <input type="hidden" value="{$oinfo['buyprice']}" name="buyprice" />
    <input type="hidden" value="{$goods['cid']}" name="cid" />
    <input type="hidden" value="{$oinfo['ostyle']}" name="ostyle" />
	<!-- scripts -->
    <script src="__JS__/jquery-latest.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/theme.js"></script>
	<script type="text/javascript">  
		butt();
		setInterval('butt()', 1000);
		function butt(){  
			//获取油的价格到页面
			$.ajax({  
				type: "post",  
				url: "{:U('Admin/Goods/zuixin_price')}",
				dataType:'json',
				success: function(data) { 
					//最新价
					if(data){
						for(i=0;i<data.length;i++){
							$(".mai_"+data[i].cid).html(data[i].price);
							if(data[i].arrow == 1){
								$(".mai_"+data[i].cid).attr("class","mai_"+data[i].cid+" drop sellprice");
							}else{
								$(".mai_"+data[i].cid).attr("class","mai_"+data[i].cid+" rise sellprice");
							}
						}
					}             
				},  
			});
		}
	</script>
	<script type="text/javascript">
		setInterval('getPloss()', 1000);
		function getPloss(){
			var buyprice = $('input[name=buyprice]').val(),
				sellprice = $('.sellprice').html(),
				wave = $('input[name=wave]').val(),
				onumber = $('input[name=onumber]').val(),
				cid = $('input[name=cid]').val(),
				ostyle = $('input[name=ostyle]').val(),
				ploss = 0,
				findPloss = $('.ploss');
			if(ostyle==0){
				ploss = (sellprice-buyprice)*wave*onumber;
			}else{
				ploss = (buyprice-sellprice)*wave*onumber;
			}
			if(ploss<0){
				findPloss.css('color','#2fb44e')
			}else{
				findPloss.css('color','#ed0000')
			}
			if(findPloss.html()=="NaN"){
				findPloss.html("");
			}else{
				findPloss.html(parseFloat(ploss).toFixed(2));
			}
		}
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			var eqli = $("#dashboard-menu").children().eq(3);
			eqli.attr('class','active');
			$("#dashboard-menu .active .submenu").css("display","block");
		});
	</script>	
</block>
</div>